.icon-sm{
    font-size: 2rem !important;
}

.icon-md{
    font-size: 4rem;
}

.icon-lg{
    font-size: 9rem;
}

.grid-img{
    width: 100%;
    height: 300px;
    /* height is not dynamic */
    object-fit: cover;
}

.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.avatar-md{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.avatar-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.img{
    width: auto;
    height: 100px;
    object-fit: cover;
}
